/* Footer.css */

.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e7a79;
    padding: 10px;
    z-index: 2;
    bottom: 10px;
    width: 98%;
  }
  
  .footer-button {
    background-color: #8d5e3f; /* Light brown background color */
    color: #ffffff; /* Dark text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .footer-button:hover {
    background-color: #b19483; /* Lighter brown background color on hover */
  }
  
  /* Additional styling for specific buttons can be added here */
  